html {
    width: 100vw;
    overflow: hidden !important;
    max-height: 100vh;
    background-color: black;
}

body {
    padding: 0;

    width: 100vw;
    
    overflow: hidden !important;
    max-height: 100vh;
    background-color: black;
}

.row {
    
}

.mboard{
    background-color: #85a6bf;
}

.firstrow{
    background-image: url("../images/alternative.png");
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 105vh;
    filter: blur(8px);

}
video {
    object-fit: fill;
    position: fixed;
  min-width: 100%; 
  }

.mnavbar{
    background-color: rgba(255, 255, 255, 0.0);
    width: 100vw;
}

.secondrow{
    background-color: #85a6bf;
    height: 200vh;
    filter: blur(4px);
}

.monlyrow{
    background-image: url("../images/abovetheclounds.jpg");
}

.mleftsection{
    background-image: url("../images/hallway1.jpg");
    height: 100vh;

    overflow: auto;
}

.mrightsection{
    background-color: red;
}

/* Transperent scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    display: none;
}

.panel {
    height: 100%;
    width: 100%;
}
.panel.green {
    margin-bottom: 400px
}

.ml2 {
    font-weight: 900;
    font-size: 3.5em;
  }
  
  .ml2 .letter {
    display: inline-block;
    line-height: 1em;
  }

  .mhead{
      background-color: blanchedalmond;
  }

.navbar svg {
      width: 10em;
}

.your-class {
   width:100%;
   margin-top: 80vh;

}

.slick-list {
    height: 20vh;
    padding: 0px 50px;
    bottom: 0rem !important;
    opacity: 0.6 !important;
}

.slick-track{
    width: 100%;
}

.rolling-element {
    margin: 5px;
}

.okvir {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 40vh;
    z-index: 600;
    margin: auto;
    width: 100%;
}

.iframed{
    margin: auto;
    width: 105vw;
    height: 20rem;
}

.mModal {
    background-color: rgba(200,200,200,0.7) !important;
}